#nav {
    height: 70px;
    width: 95%;
    position: fixed;
    z-index: 700;
    left: 2.5%;
    top: 30px;
    border-radius: 30px;
    background-color: #243D25;
    margin: auto;
    color: #FEF5ED;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav1 {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    margin-left: 40px;
    width: 80px;
    height: 50px;
    /* border-radius: 50%; */
    border-radius: 15px 50px 15px;

}

#nav1>h3 {
    margin-right: 40px;
    font-size: 22px;
    font-weight: bold;
}

.nav1H:hover {
    color: #f5d8be;
    text-decoration: underline;
}

#anchor {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #FEF5ED;
}

#nav2 {
    display: none;
    margin-right: 20px;
}

@media screen and (max-width:1180px) and (min-width:760px) {
    #nav2 {
        display: block;
    }

    #nav1 {
        display: none;
    }

    #nav {
        width: 90%;
        left: 5%;
    }
}

@media screen and (max-width:759px) and (min-width:200px) {
    #nav2 {
        display: block;
    }

    #nav1 {
        display: none;
    }

    #nav {
        width: 90%;
        left: 5%;
    }
}
