.App {
  /* background: #99A799; */
  background-color: #EBC7E8;
  width: 100%;
  position: absolute;
  top: 0;
}

body {
  font-family: 'Exo', sans-serif;
  background-color: #EBC7E8;
}

#themeButton {
  position: fixed;
  top: 150px;
  right: 30px;
  z-index: 1;
}