#projects {
    text-align: center;
    width: 100%;
}

#majorMain {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    text-align: left;
    padding-bottom: 50px;
}

.major_projectDiv {
    background-color: #FEF5ED;
    color: #243D25;
    width: 95%;
    margin: auto;
    margin-top: 50px;
    height: 380px;
    display: flex;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 15px;
}

.minor_projectDiv {
    background-color: #D3E4CD;
    color: #243D25;
    width: 95%;
    height: 380px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    /* border: 1px solid black; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 15px;
}

.major_project_imgDiv {
    width: 50%;
}

.major_project_imgDiv>img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.major_project_detailsDiv {
    /* border: 1px solid black; */
    width: 50%;
    padding-left: 2.5%;
    padding-top: 30px;
}

.major_project_detailsDiv_Heading {
    margin-bottom: 40px;
}

.major_project_detailsDiv_detail {
    margin-bottom: 40px;
}

.major_project_detailsDiv_tehcs {
    margin-bottom: 20px;
}

.major_project_detailsDi_btnDiv {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.major_project_detailsDi_btnDiv>button {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
}




@media screen and (max-width:1180px) and (min-width:760px) {
    #majorMain {
        width: 95%;
        margin: auto;
        margin-top: 50px;
    }

    .major_projectDiv {
        height: auto;
    }

    .minor_projectDiv {
        height: auto;
    }

    .major_project_detailsDiv {
        padding-left: 2%;
        padding-top: 10px;
    }

    .major_project_detailsDiv_Heading {
        margin-bottom: 20px;
    }

    .major_project_detailsDiv_detail {
        margin-bottom: 20px;
    }

    .major_project_detailsDiv_tehcs {
        margin-bottom: 0px;
    }

    .major_project_detailsDi_btnDiv {
        width: 80%;
        padding-bottom: 20px;
    }

    .major_project_detailsDi_btnDiv>button:nth-child(2) {
        margin-left: 10px;
    }

    .links {
        font-size: 16px;
    }
}

@media screen and (max-width:759px) and (min-width:200px) {
    #majorMain {
        width: 95%;
    }

    .major_projectDiv {
        width: 90%;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .minor_projectDiv {
        background-color: #D3E4CD;
        width: 90%;
        height: 500px;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .major_project_imgDiv {
        width: 100%;
    }

    .major_project_imgDiv>img {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .major_project_detailsDiv {
        padding-left: 0px;
        padding-top: 5px;
        width: 95%;
        margin: auto;
    }

    #minor_projectDivId {
        display: flex;
        flex-direction: column-reverse;
    }

    #major_projectDivId {
        display: flex;
        flex-direction: column-reverse;
    }

    .major_project_detailsDiv_Heading {
        margin-bottom: 10px;
    }

    .major_project_detailsDiv_detail {
        margin-bottom: 20px;
    }

    .major_project_detailsDiv_tehcs {
        margin-bottom: 0px;
    }

    .major_project_detailsDi_btnDiv {
        width: 80%;
        margin-top: 10px;
    }

    .major_project_detailsDi_btnDiv>button {
        margin-top: 10px;
        padding: 15px 15px;
    }

    .links {
        font-size: 14px;
    }
}